* {
    transition: all .4s ease;
}

body {
    margin: 0;
    padding: 0; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(36, 36, 36) ;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    background-color: rgb(92, 0, 38);
    border-bottom: 1px solid rgb(255, 255, 150);
    color: beige;
    align-items: center;
}

.header__ul {
    display: flex;
    padding: 10px;
    transform: scale(80%);
}

header li {
    list-style: none;
}

ul li a {
    padding: 5px;
    margin-left: 40px;
    text-decoration: none;
    color: beige;
    list-style: none;
}

header img {
    width: 200px;
    padding: 10px;
}

header img:hover {
    cursor: pointer;
    transform: scale(110%);
}

ul li a:hover {
    color: rgb(255, 255, 150);
    background-color: rgba(255, 116, 197, 0.192);
    border-radius: 5px;
}


.home__h2 {
    margin: 15px 0 0 15px;
    text-indent: 10px;
}

.home h4 {
    margin: 0 0 20px 25px;
}

.home {
    margin-top: 1.5cm;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgba(44, 7, 23, 0.822);
    border: 1px solid rgb(255, 255, 150);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0;
    width: 1000px;
}

.secciones {
    margin: 0 auto 2cm auto;
    background-color: rgb(27, 0, 11);
    border: 1px solid rgb(255, 255, 150);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.empleados {
    text-align: justify;
    background-color: rgb(27, 0, 11);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 250px;
    height: 26vw;
    color: white;
}

.empleados p {
    padding: 0 20px 30px 20px;
}

.empleados i {
    margin: 20px 20px 0 20px;
    font-size: 200px;
}

.empleados ion-icon {
    margin: 20px 20px 0 20px;
    font-size: 195px;
}

.empleados:hover{
    cursor: pointer;
    background-color: rgba(92, 0, 38, 0.253);
}

a {
    text-decoration: none;
}